@require '../lib/vars.styl'

*
  box-sizing border-box

body
  background react-blue
  font-family helvetica
  color darken(white, 10%)
  font-size 18px

h1
  margin 20px 0

pre
  font-family mono
  line-height 1.5
  border-radius 3px
  border 1px solid border-gray

.page
.Home
.About
  background black
  padding 20px
  min-width 320px

  h1
    color react-blue
    font-weight 300
    font-size 52px

  p
    color white

.hl
  font-weight bold
  color react-blue

.siteTitle
  display flex
  align-items center

  +below(420px)
    display block

  img
    display inline-block
    width 80px
    height 80px
    margin-right 20px

    +below(420px)
      display block
      margin 0 auto
