@require '../lib/vars.styl'

*
  box-sizing border-box

body
  background black
  font-family helvetica

pre
  font-family mono
  line-height 1.5
  border-radius 3px
  border 1px solid border-gray

.ReactBoilerplate
  background js-yellow
  color black
  padding 20px
